## Preprocessing

In [1]:
from sklearn.preprocessing   import StandardScaler
from sklearn.model_selection import train_test_split
import pandas     as pd
import sklearn    as skl
import tensorflow as tf
import numpy      as np

In [2]:
# Read the mouse data and the study results
charity_metadata_path = "charity_data.csv"
charity_meta   = pd.read_csv(charity_metadata_path)
charity_df     = pd.DataFrame(charity_meta)
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

charity_df = charity_df.drop(axis=1, columns=['EIN','NAME'])

In [4]:
# Determine the number of unique values in each column.
print(charity_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
counts = charity_df['APPLICATION_TYPE'].value_counts()
print(counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = list(counts[counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    charity_df['APPLICATION_TYPE'] = charity_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
charity_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
bins_num = charity_df['CLASSIFICATION'].value_counts()

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1

bins_num = bins_num[bins_num>1]
bins_num

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (bins_num[bins_num<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    charity_df['CLASSIFICATION'] = charity_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
charity_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      643
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1900        1
C2600        1
C1248        1
C6100        1
C1820        1
C1580        1
C2570        1
C1732        1
C3700        1
C2500        1
C1570        1
C1283        1
C2380        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`

charity_df = pd.get_dummies(charity_df,dtype=float)
charity_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays

y = charity_df['IS_SUCCESSFUL'].values
y

X = charity_df.drop('IS_SUCCESSFUL', axis=1).values
X

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split( X, y, random_state = 38)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])

layer_1 = 7
layer_2 = 14
layer_3 = 21

dnn = tf.keras.models.Sequential()

dnn.add(tf.keras.layers.Dense(units = layer_1, 
                              input_dim = number_input_features, 
                              activation='relu'))

dnn.add(tf.keras.layers.Dense(units = layer_2, 
                              activation = 'relu'))

#nn.add(tf.keras.layers.Dense(units = layer_3, 
#                             activation='relu'))

dnn.add(tf.keras.layers.Dense(units=1, 
                              activation='sigmoid'))

dnn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 532

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 659
Trainable params: 659
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
dnn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = dnn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 794us/step - loss: 0.6257 - accuracy: 0.6791 - val_loss: 0.5812 - val_accuracy: 0.7194
Epoch 2/100
684/684 [==============================] - 0s 651us/step - loss: 0.5699 - accuracy: 0.7254 - val_loss: 0.5699 - val_accuracy: 0.7240
Epoch 3/100
684/684 [==============================] - 0s 660us/step - loss: 0.5621 - accuracy: 0.7265 - val_loss: 0.5686 - val_accuracy: 0.7245
Epoch 4/100
684/684 [==============================] - 0s 661us/step - loss: 0.5597 - accuracy: 0.7278 - val_loss: 0.5664 - val_accuracy: 0.7232
Epoch 5/100
684/684 [==============================] - 0s 653us/step - loss: 0.5579 - accuracy: 0.7292 - val_loss: 0.5669 - val_accuracy: 0.7232
Epoch 6/100
684/684 [==============================] - 0s 647us/step - loss: 0.5558 - accuracy: 0.7298 - val_loss: 0.5644 - val_accuracy: 0.7251
Epoch 7/100
684/684 [==============================] - 0s 650us/step - loss: 0.5537 - accuracy: 0.7309 - val_loss: 0.5652 - val_accuracy: 0.7261
Epoch 8/100
684/684 [==============================] - 0s 650us/step - loss: 0.5528 - accuracy: 0.7307 - val_loss: 0.5673 - val_accuracy: 0.7261
Epoch 9/100
684/684 [==============================] - 0s 653us/step - loss: 0.5523 - accuracy: 0.7314 - val_loss: 0.5682 - val_accuracy: 0.7245
Epoch 10/100
684/684 [==============================] - 0s 651us/step - loss: 0.5518 - accuracy: 0.7317 - val_loss: 0.5673 - val_accuracy: 0.7258
Epoch 11/100
684/684 [==============================] - 0s 653us/step - loss: 0.5512 - accuracy: 0.7311 - val_loss: 0.5673 - val_accuracy: 0.7274
Epoch 12/100
684/684 [==============================] - 0s 657us/step - loss: 0.5508 - accuracy: 0.7318 - val_loss: 0.5657 - val_accuracy: 0.7258
Epoch 13/100
684/684 [==============================] - 0s 651us/step - loss: 0.5502 - accuracy: 0.7318 - val_loss: 0.5643 - val_accuracy: 0.7258
Epoch 14/100
684/684 [==============================] - 0s 657us/step - loss: 0.5493 - accuracy: 0.7322 - val_loss: 0.5664 - val_accuracy: 0.7243
Epoch 15/100
684/684 [==============================] - 0s 650us/step - loss: 0.5492 - accuracy: 0.7307 - val_loss: 0.5643 - val_accuracy: 0.7248
Epoch 16/100
684/684 [==============================] - 0s 656us/step - loss: 0.5489 - accuracy: 0.7325 - val_loss: 0.5666 - val_accuracy: 0.7217
Epoch 17/100
684/684 [==============================] - 0s 659us/step - loss: 0.5486 - accuracy: 0.7334 - val_loss: 0.5653 - val_accuracy: 0.7253
Epoch 18/100
684/684 [==============================] - 0s 653us/step - loss: 0.5486 - accuracy: 0.7325 - val_loss: 0.5644 - val_accuracy: 0.7243
Epoch 19/100
684/684 [==============================] - 0s 666us/step - loss: 0.5480 - accuracy: 0.7327 - val_loss: 0.5669 - val_accuracy: 0.7243
Epoch 20/100
684/684 [==============================] - 0s 653us/step - loss: 0.5479 - accuracy: 0.7324 - val_loss: 0.5653 - val_accuracy: 0.7235
Epoch 21/100
684/684 [==============================] - 0s 664us/step - loss: 0.5477 - accuracy: 0.7336 - val_loss: 0.5655 - val_accuracy: 0.7209
Epoch 22/100
684/684 [==============================] - 0s 651us/step - loss: 0.5475 - accuracy: 0.7319 - val_loss: 0.5653 - val_accuracy: 0.7243
Epoch 23/100
684/684 [==============================] - 0s 661us/step - loss: 0.5472 - accuracy: 0.7315 - val_loss: 0.5647 - val_accuracy: 0.7235
Epoch 24/100
684/684 [==============================] - 0s 660us/step - loss: 0.5472 - accuracy: 0.7331 - val_loss: 0.5648 - val_accuracy: 0.7258
Epoch 25/100
684/684 [==============================] - 0s 656us/step - loss: 0.5469 - accuracy: 0.7320 - val_loss: 0.5641 - val_accuracy: 0.7232
Epoch 26/100
684/684 [==============================] - 0s 654us/step - loss: 0.5469 - accuracy: 0.7319 - val_loss: 0.5625 - val_accuracy: 0.7240
Epoch 27/100
684/684 [==============================] - 0s 678us/step - loss: 0.5465 - accuracy: 0.7337 - val_loss: 0.5635 - val_accuracy: 0.7240
Epoch 28/100
684/684 [==============================] - 0s 659us/step - loss: 0.5467 - accuracy: 0.7322 - val_loss: 0.5637 - val_accuracy: 0.7251
Epoch 29/100
684/684 [==============================] - 0s 654us/step - loss: 0.5462 - accuracy: 0.7326 - val_loss: 0.5624 - val_accuracy: 0.7227
Epoch 30/100
684/684 [==============================] - 0s 663us/step - loss: 0.5460 - accuracy: 0.7321 - val_loss: 0.5618 - val_accuracy: 0.7235
Epoch 31/100
684/684 [==============================] - 0s 654us/step - loss: 0.5458 - accuracy: 0.7337 - val_loss: 0.5619 - val_accuracy: 0.7240
Epoch 32/100
684/684 [==============================] - 0s 654us/step - loss: 0.5458 - accuracy: 0.7327 - val_loss: 0.5621 - val_accuracy: 0.7235
Epoch 33/100
684/684 [==============================] - 0s 650us/step - loss: 0.5454 - accuracy: 0.7337 - val_loss: 0.5627 - val_accuracy: 0.7274
Epoch 34/100
684/684 [==============================] - 0s 657us/step - loss: 0.5459 - accuracy: 0.7322 - val_loss: 0.5616 - val_accuracy: 0.7235
Epoch 35/100
684/684 [==============================] - 0s 651us/step - loss: 0.5453 - accuracy: 0.7330 - val_loss: 0.5612 - val_accuracy: 0.7253
Epoch 36/100
684/684 [==============================] - 0s 648us/step - loss: 0.5453 - accuracy: 0.7337 - val_loss: 0.5637 - val_accuracy: 0.7238
Epoch 37/100
684/684 [==============================] - 0s 651us/step - loss: 0.5450 - accuracy: 0.7337 - val_loss: 0.5623 - val_accuracy: 0.7248
Epoch 38/100
684/684 [==============================] - 0s 661us/step - loss: 0.5451 - accuracy: 0.7333 - val_loss: 0.5644 - val_accuracy: 0.7225
Epoch 39/100
684/684 [==============================] - 0s 672us/step - loss: 0.5452 - accuracy: 0.7327 - val_loss: 0.5627 - val_accuracy: 0.7238
Epoch 40/100
684/684 [==============================] - 0s 661us/step - loss: 0.5447 - accuracy: 0.7330 - val_loss: 0.5645 - val_accuracy: 0.7232
Epoch 41/100
684/684 [==============================] - 0s 678us/step - loss: 0.5449 - accuracy: 0.7346 - val_loss: 0.5639 - val_accuracy: 0.7243
Epoch 42/100
684/684 [==============================] - 0s 661us/step - loss: 0.5448 - accuracy: 0.7341 - val_loss: 0.5632 - val_accuracy: 0.7243
Epoch 43/100
684/684 [==============================] - 0s 657us/step - loss: 0.5447 - accuracy: 0.7329 - val_loss: 0.5664 - val_accuracy: 0.7240
Epoch 44/100
684/684 [==============================] - 0s 660us/step - loss: 0.5446 - accuracy: 0.7337 - val_loss: 0.5658 - val_accuracy: 0.7243
Epoch 45/100
684/684 [==============================] - 0s 654us/step - loss: 0.5444 - accuracy: 0.7319 - val_loss: 0.5639 - val_accuracy: 0.7243
Epoch 46/100
445/684 [==================>...........] - ETA: 0s - loss: 0.5470 - accuracy: 0.7308

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = dnn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file